<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sendibox</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../css/tailwind.css">
</head>

<body class="text-gray-800">

  <main>
    <header class="pt-12">
      <nav class="fixed top-0 left-0 z-10 w-full bg-white border-b border-gray-200 shadow-md">
        <div class="u-container mx-auto py-5 flex justify-between items-center">
          <a href="../index.html" class="w-5/12 sm:w-3/12 lg:w-2/12">
            <img src="../assets/images/logo.svg" alt="Sendibox logo">
          </a>

          <div class="hidden md:flex gap-4 lg:gap-8 xl:gap-12 items-center text-base">
            <a href="./trae.html" class="flex items-center gap-2 hover:text-blue-400 transition-colors">
              <img src="../assets/icons/icon-trae.svg" alt="Trae"> Trae
            </a>
            <a href="./compra.html" class="flex items-center gap-2 hover:text-blue-400 transition-colors">
              <img src="../assets/icons/icon-compra.svg" alt="Compra"> Compra
            </a>
            <a href="./rastrea.html" class="flex items-center gap-2 hover:text-blue-400 transition-colors">
              <img src="../assets/icons/icon-rastrea.svg" alt="Rastrea"> Rastrea
            </a>
            <a href="#" class="btn btn-blue">Comenzar</a>
          </div>
          <button class="block md:hidden">
            <img src="../assets/icons/icon-menu.svg" alt="Menu">
          </button>
        </div>
      </nav>

      <section
        class="u-container min-h-screen text-center lg:text-left grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
        <article class="grid gap-8">
          <h1 class="text-5xl xl:text-7xl">
            Trae todo lo que quieras con Sendibox
          </h1>
          <p class="text-lg">
            Restaurants that work with Deliveroo see their takeaway sales increase by up to 30% on average. Ready to become a
            restaurant partner?
          </p>
          <div class="flex flex-col md:flex-row gap-2 justify-center lg:justify-start">
            <input 
              type="text" 
              placeholder="Precio"
              class="input md:w-24"
            >
            <input 
              type="text" 
              placeholder="Peso"
              class="input md:w-24"
            >
            <input 
              type="text" 
              placeholder="Libras"
              class="input md:w-24"
            >
            <button class="btn btn-blue">Cotizar</button>
          </div>
        </article>
        <aside class="hidden lg:block">
          <figure>
            <img class="w-full" src="../assets/images/hero-image-trae.svg" alt="Sendibox">
          </figure>
        </aside>
      </section>
    </header>

    <section class="u-container">
      <h2 class="text-center mb-6">Trae todo lo que quieras</h2>
      <p class="text-base md:text-xl text-center mb-16">
        Es seguro, fácil y una forma divertida de ganar dinero viajando por el mundo.
      </p>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <aside class="w-2/4 mx-auto md:w-auto">
          <figure>
            <img src="../assets/images/cajas.png" alt="Cajas">
          </figure>
        </aside>
        <article class="">
          <div class="flex gap-4 items-center md:items-start mb-4">
              <figure class="w-16">
                <img src="../assets/icons/icon-check.svg" alt="Check">
              </figure>
              <div>
                <h3 class="mb-2">Integrate Your Favorite Tools</h3>
                <p>
                  Take advantage of our membership platform while using tools that already work for your audience.
                </p>
              </div>
          </div>
          <div class="flex gap-4 items-center md:items-start mb-4">
              <figure class="w-16">
                <img src="../assets/icons/icon-check.svg" alt="Check">
              </figure>
              <div>
                <h3 class="mb-2">Integrate Your Favorite Tools</h3>
                <p>
                  Take advantage of our membership platform while using tools that already work for your audience.
                </p>
              </div>
          </div>
          <div class="flex gap-4 items-center md:items-start mb-4">
              <figure class="w-16">
                <img src="../assets/icons/icon-check.svg" alt="Check">
              </figure>
              <div>
                <h3 class="mb-2">Integrate Your Favorite Tools</h3>
                <p>
                  Take advantage of our membership platform while using tools that already work for your audience.
                </p>
              </div>
          </div>
        </article>
      </div>
    </section>

    <section class="bg-gray-100">
      <div class="u-container">
        <h2 class="text-center mb-6">
          ¿Como traer tu producto?
        </h2>
        <p class="text-base md:text-xl text-center mb-16">
          Es seguro, fácil y una forma divertida de ganar dinero viajando por el mundo.
        </p>

        <div
          class="bg-white grid-cols-1 md:grid grid-cols-2 gap-12 items-center p-6 md:pr-12 border border-gray-200 shadow-md mb-16">
          <figure>
            <img class="h-auto sm:h-60 mx-auto md:h-auto md:w-full rounded-md shadow-xl border border-gray-100"
              src="../assets/images/shopify.png" alt="shopify">
          </figure>
          <div class="grid gap-6 text-center mt-8 md:mt-0 md:text-left">
            <h2 class="text-2xl lg:text-4xl">Tell your fans you're launching on Patreon.</h2>
            <p>
              Reach out to fans on your social channels to find out more about what kind of membership benefits they’d
              be interested
              in.
            </p>
            <a href="#" class="mx-auto md:mx-0">
              <img class="rounded-full p-2 bg-gray-200 hover:bg-blue-200 transition-colors"
                src="../assets/icons/icon-arrow-right.svg" alt="Arrow right">
            </a>
          </div>
        </div>
        <div
          class="bg-white grid-cols-1 md:grid grid-cols-2 gap-12 items-center p-6 md:pl-12 border border-gray-200 shadow-md mb-16">
          <figure class="order-2">
            <img class="h-auto sm:h-60 mx-auto md:h-auto md:w-full rounded-md shadow-xl border border-gray-100"
              src="../assets/images/shopify.png" alt="shopify">
          </figure>
          <div class="grid gap-6 text-center mt-8 md:mt-0 md:text-left">
            <h2 class="text-2xl lg:text-4xl">Tell your fans you're launching on Patreon.</h2>
            <p>
              Reach out to fans on your social channels to find out more about what kind of membership benefits they’d
              be interested
              in.
            </p>
            <a href="#" class="mx-auto md:mx-0">
              <img class="rounded-full p-2 bg-gray-200 hover:bg-blue-200 transition-colors"
                src="../assets/icons/icon-arrow-right.svg" alt="Arrow right">
            </a>
          </div>
        </div>
        <div
          class="bg-white grid-cols-1 md:grid grid-cols-2 gap-12 items-center p-6 md:pr-12 border border-gray-200 shadow-md mb-16">
          <figure>
            <img class="h-auto sm:h-60 mx-auto md:h-auto md:w-full rounded-md shadow-xl border border-gray-100"
              src="../assets/images/shopify.png" alt="shopify">
          </figure>
          <div class="grid gap-6 text-center mt-8 md:mt-0 md:text-left">
            <h2 class="text-2xl lg:text-4xl">Tell your fans you're launching on Patreon.</h2>
            <p>
              Reach out to fans on your social channels to find out more about what kind of membership benefits they’d
              be interested
              in.
            </p>
            <a href="#" class="mx-auto md:mx-0">
              <img class="rounded-full p-2 bg-gray-200 hover:bg-blue-200 transition-colors"
                src="../assets/icons/icon-arrow-right.svg" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white">
      <article class="u-container">
        <h2 class="text-center mb-12">Descarga nuestra app para iPhone o Android</h2>
        <a href="#" class="block mx-auto w-max btn btn-blue text-center xl:text-lg">
          Compra con nosotros
        </a>
      </article>
    </section>
  </main>

  <footer class="bg-gray-100">
    <div class="u-container grid grid-cols-1 text-center sm:text-left sm:grid-cols-2 lg:grid-cols-5 gap-12 py-12">
      <figure class="w-2/4 lg:w-full mx-auto sm:mx-0">
        <img src="../assets/images/logo.svg" alt="Logo">
      </figure>

      <div class="col-start-1 lg:col-start-2">
        <h4 class="font-bold text-lg mb-4">CONÓZCANOS</h4>
        <ul class="grid gap-2">
          <li>Contacta con nosotros</li>
          <li>Blog</li>
          <li>Registrarse</li>
          <li>Quiénes somos</li>
        </ul>
      </div>

      <div>
        <h4 class="font-bold text-lg mb-4">INFORMACIÓN</h4>
        <ul class="grid gap-2">
          <li>Envíos para empresas</li>
          <li>Ajuste de kilos</li>
          <li>Calcular peso volumétrico</li>
          <li>Consejos de embalaje</li>
          <li>Agencias</li>
        </ul>
      </div>

      <div>
        <h4 class="font-bold text-lg mb-4">VISÍTENOS</h4>
        <div class="flex gap-6 justify-center sm:justify-start">
          <figure>
            <img src="../assets/icons/icon-facebook.svg" alt="Facebook">
          </figure>
          <figure>
            <img src="../assets/icons/icon-twitter.svg" alt="Twitter">
          </figure>
          <figure>
            <img src="../assets/icons/icon-linkedin.svg" alt="Linkedin">
          </figure>
        </div>
      </div>

      <div>
        <h4 class="font-bold text-lg mb-4">PAGO SEGURO</h4>
        <div class="flex gap-6 justify-center sm:justify-start">
          <figure>
            <img src="../assets/icons/icon-visa.svg" alt="VISA">
          </figure>
          <figure>
            <img src="../assets/icons/icon-mastercard.svg" alt="Mastercard">
          </figure>
          <figure>
            <img src="../assets/icons/icon-paypal.svg" alt="Paypal">
          </figure>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>